.backgroundColor {
    background-color: #514644;
}

#background1 {
    background-color:#dbdbe5;
}

#background2 {
    background-color: #535d55;
}

#background3 {
    background-color: #a5b7c1;
}

.about {
    font-size: 46px;
    font-weight: bolder;
}

.fontWeight {
    font-weight: bolder;
}

.noBottom {
    padding-bottom: 0px;
}

.width100 {
    max-width: 100%;
}

.noLeftPad {
    padding-left: 0px;
}

.rlPadding {
    padding-right: 0px;
    padding-left: 0px;
}

#myPhoto {
    width: 85%;
}

.tbPadding {
    padding-top: 90px;
    padding-bottom: 25px;
}

.lessPadding {
    padding-bottom: 30px;
}

.floatRight {
    float: right;
}

#portfolioFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.smallPrint {
    font-size: 30%; 
}

.portfolioPosition {
        position: relative;
        text-align: center;
        padding: 12px;
        text-align: center;
        bottom: 50px;
}

.imgHeight {
    height: 250px;
}

.descriptionText {
    font-size: 24px;
    line-height: 1.5;
}

.footerFlexbox {
    display: flex;
    justify-content: center;
}

.lessTop {
    padding-top: 10px;
}

.noTop {
    padding-top: 0px;
}

#textboxHeight {
    height: 150px;
}

.bottomAlign {
    bottom: 0px;
    position: relative;
}

.show {
    float: right;
}


@media screen and (max-width: 1440px) {
    
    .tbPadding {
        padding-top: 90px;
    }

    .descriptionText {
        font-size: 24px;
    }

    .smallPrint {
        font-size: 50%;
        font-weight: normal;
    }

    #myPhoto {
        width: 90%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

    .sizing {
        font-weight: bolder;
        text-align: center;
    }

}

@media screen and (max-width: 1024px) {

    .tbPadding {
        padding-top: 90px;
    }

    .padLeft {
        padding-left: 5px;
    }

    .descriptionText {
        font-size: 26px;
    }

    #myPhoto {
        width: 90%;
    }

    .smallPrint {
        font-size: 50%;
        font-weight: normal;
    }

    .sizing {
        font-weight: bolder;
        text-align: center;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

}

@media screen and (max-width: 768px) {

    .tbPadding {
        padding-top: 90px;
    }

    .padLeft {
        padding-left: 5px;
    }

    .lessPadding {
        padding-bottom: 5px;
    }

    #myPhoto {
        width: 100%;
    }

    .sizing {
        font-weight: bolder;
        text-align: center;
    }

    #myPhotoDiv {
        width: 30%;
        padding-right: 5px;
    }

    .smallPrint {
        font-size: 50%;
        font-weight: normal;
    }

    .descriptionText {
        font-size: 17px;
        line-height: 1.5;
    }

    .portfolioWidth {
        width: 50%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

}

@media screen and (max-width: 425px) {
    .padLeft {
        padding-left: 5px;
    }

    .lessPadding {
        padding-bottom: 5px;
    }

    .sizing {
        font-size: 16px;
        font-weight: bolder;
    }

    .smallPrint {
        font-size: 70%;
        font-weight: normal;
    }

    .smallPadding {
        padding-top: 20px;
    }

    #myPhotoDiv {
        width: 100%;
    }

    #aboutDescDiv{
        width: 100%;
        text-align: center;
    }

    .descriptionText {
        font-size: 14px;
        line-height: 1.25;
        text-align: center;
    }

    #myPhoto {
        width: 100%;
    }

    .centered {
        text-align: center;
    }

    .portfolioWidth {
        width: 100%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

    .marginPadLogos {
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
    }

    #bottomAlignContact {
        bottom: 0px;
        position: fixed;
    }

    #bottomAlignAbout {
        bottom: 0px;
        position: relative;
    }

}

@media screen and (max-width: 375px) {

    .padLeft {
        padding-left: 5px;
    }

    .lessPadding {
        padding-bottom: 5px;
    }

    .sizing {
        font-size: 16px;
        font-weight: bolder;
    }

    .smallPrint {
        font-size: 70%;
        font-weight: normal;
    }

    .smallPadding {
        padding-top: 20px;
    }

    #myPhotoDiv {
        width: 100%;
    }

    #aboutDescDiv{
        width: 100%;
        text-align: center;
    }

    .descriptionText {
        font-size: 14px;
        line-height: 1.25;
        text-align: center;
    }

    #myPhoto {
        width: 100%;
    }

    .centered {
        text-align: center;
    }

    .portfolioWidth {
        width: 100%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

    .marginPadLogos {
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
    }
    
    #bottomAlignAbout {
        bottom: 0px;
        position: relative;
    }

}

@media screen and (max-width: 320px) {

    .padLeft {
        padding-left: 5px;
    }

    .fontSize {
        font-size: 10px;
    }

    .sizing {
        font-size: 16px;
        font-weight: bolder;
    }

    .smallPrint {
        font-size: 70%;
        font-weight: normal;
    }

    .textAlign {
        text-align: center;
    }

    .lessPadding {
        padding-bottom: 5px;
    }

    .smallPadding {
        padding-top: 20px;
    }

    #myPhotoDiv {
        width: 100%;
    }

    #aboutDescDiv{
        width: 100%;
        text-align: center;
    }

    #myPhoto {
        width: 100%;
    }

    .centered {
        text-align: center;
    }

    .portfolioWidth {
        width: 100%;
    }

    .descriptionText {
        font-size: 14px;
        line-height: 1.25;
        text-align: center;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

    .marginPadLogos {
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
    }

    #bottomAlignContact {
        bottom: 0px;
        position: relative;
    }

    #bottomAlignAbout {
        bottom: 0px;
        position: relative;
    }
}