.noBottom {
    padding-bottom: 0px;
}

.width100 {
    max-width: 100%;
}

.rlPadding {
    padding-right: 0px;
    padding-left: 0px;
}

.tbPadding {
    padding-top: 40px;
    padding-bottom: 25px;
}

.lessPadding {
    padding-bottom: 30px;
}

.floatRight {
    float: right;
}

#portfolioFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolioPosition {
        position: relative;
        text-align: center;
        padding: 12px;
        text-align: center;
        bottom: 50px;
}

.imgHeight {
    height: 250px;
}

.descriptionText {
    font-size: 18px;
    line-height: 1.5;
}

.footerFlexbox {
    display: flex;
    justify-content: center;
}

.lessTop {
    padding-top: 10px;
}

.noTop {
    padding-top: 0px;
}

#textboxHeight {
    height: 150px;
}

.bottomAlign {
    bottom: 0px;
    position: fixed;
}

/* need to work on this one for each page */
/* need to make media queries for different screen sizes */

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {

    .padLeft {
        padding-left: 5px;
    }
    
    .smallPadding {
        padding-top: 20px;
    }

    #myPhotoDiv {
        width: 20%;
        padding-right: 5px;
    }

    .descriptionText {
        font-size: 13px;
        line-height: 1.25;
    }

    .portfolioWidth {
        width: 50%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 425px) {
    .padLeft {
        padding-left: 5px;
    }

    .smallPadding {
        padding-top: 20px;
    }

    #myPhotoDiv {
        width: 100%;
    }

    #aboutDescDiv{
        width: 100%;
        text-align: center;
    }

    #myPhoto {
        width: 100%;
    }

    .centered {
        text-align: center;
    }

    .portfolioWidth {
        width: 100%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

    .marginPadLogos {
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
    }
}

@media screen and (max-width: 375px) {

    .padLeft {
        padding-left: 5px;
    }

    .smallPadding {
        padding-top: 20px;
    }

    #myPhotoDiv {
        width: 100%;
    }

    #aboutDescDiv{
        width: 100%;
        text-align: center;
    }

    #myPhoto {
        width: 100%;
    }

    .centered {
        text-align: center;
    }

    .portfolioWidth {
        width: 100%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

    .marginPadLogos {
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
    }
}

@media screen and (max-width: 320px) {

    .padLeft {
        padding-left: 5px;
    }

    .fontSize {
        font-size: 10px;
    }

    .textAlign {
        text-align: center;
    }

    .smallPadding {
        padding-top: 20px;
    }

    #myPhotoDiv {
        width: 100%;
    }

    #aboutDescDiv{
        width: 100%;
        text-align: center;
    }

    #myPhoto {
        width: 100%;
    }

    .centered {
        text-align: center;
    }

    .portfolioWidth {
        width: 100%;
    }

    .bottomAlign {
        position: relative;
        padding-bottom: 5px;
    }

    .marginPadLogos {
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
    }
}
