.noBottom {
    padding-bottom: 0px;
}

.width100 {
    max-width: 100%;
}

.rlpadding {
    padding-right: 0px;
    padding-left: 0px;
}

.floatRight {
    float: right;
}

#portfolioFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.imgHeight {
    height: 250px;
}

.footerFlexbox {
    display: flex;
    justify-content: center;
}

.lessTop {
    padding-top: 10px;
}

.noTop {
    padding-top: 0px;
}