

.noBottom {
    padding-bottom: 0px;
}

.width100 {
    max-width: 100%;
}

.rlpadding {
    padding-right: 0px;
    padding-left: 0px;
}

.floatRight {
    float: right;
}

.footerFlexbox {
    display: flex;
    justify-content: center;
}

.noTop {
    padding-top: 0px;
}