.noBottom {
    padding-bottom: 0px;
}

.width100 {
    max-width: 100%;
}

.rlPadding {
    padding-right: 0px;
    padding-left: 0px;
}

.tbPadding {
    padding-top: 40px;
    padding-bottom: 25px;
}

.lessPadding {
    padding-bottom: 30px;
}

.floatRight {
    float: right;
}

#portfolioFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolioPosition {
        position: relative;
        text-align: center;
        padding: 12px;
        text-align: center;
        bottom: 50px;
}

.imgHeight {
    height: 250px;
}

.descriptionText {
    font-size: 18px;
    line-height: 1.5;
}

.footerFlexbox {
    display: flex;
    justify-content: center;
}

.lessTop {
    padding-top: 10px;
}

.noTop {
    padding-top: 0px;
}

#textboxHeight {
    height: 150px;
}

.bottomAlign {
    bottom: 0px;
    position: relative;
}

/* need to work on this one for each page */
/* need to make media queries for different screen sizes */